@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

:root {
    --cor-azul: #065E7C;
    --cor-azul-claro: #387E96;
    --cor-branca: white;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Mulish", sans-serif;
}

body,
html {
    width: 430px;
}

h2 {
    font-size: 1.5rem;
}

header {
    background-color: var(--cor-azul);
    display: flex;
    justify-content: space-around;  
    align-items: center;
    padding: 1rem 0;
}

header #logo {
    width: 2.5rem;
    height: 2.5rem;
}

header #perfil {
    width: 2.5rem;
    height: 2.5rem;
    object-fit: cover;
    border-radius: 50%;
}

header input {
    background-color: var(--cor-azul-claro);
    color: var(--cor-branca);
    padding: .75rem 0 .75rem .85rem;
    border-radius: 4px;
    border: none;
    outline: none;
}

header input::-webkit-input-placeholder {
    color: var(--cor-branca);
}

#info img {
    width: 430px;
}

#info #text-info {
    margin: 1.95rem 1.62rem 1rem 1.37rem;
}

#info #text-info h2 {
    margin-bottom: .5rem;
}

#info #text-info div {
    margin-bottom: 2rem;
}

#text-info div button {
    background-color: var(--cor-azul);
    color: var(--cor-branca);
    padding: .80rem;
    border-radius: 50%;
    font-size: 1rem;
    border: none;
    outline: none;
}

#text-info div button:hover {
    background-color: var(--cor-azul-claro);
}

#articles {
    margin: 1rem 1.5rem 2.40rem 1.35rem;
}

#articles article {
    display: flex;
    flex-direction: column;
    margin: 2rem 0;
}

#articles article img {
    width: 100%;
    border-radius: 5px;
}

#articles article h3 {
    margin-bottom: .75rem;
    font-size: 1.12rem;
    margin-top: .5rem;
}

#articles article p {
    font-size: .87rem;
}

footer {
    background-color: var(--cor-azul-claro);
    color: var(--cor-branca);
    text-align: center;
    padding: 1.65rem;
}